{{ 'text-scroller.css' | asset_url | stylesheet_tag }}

{%  style  %} 
.text-scroller{
    width:100%;
    min-height:170px;
}
.text-scroller-items{ margin:0; padding:0; }
.text-scroller-items li{
    /* color:  var(--color-yellow); */
  font-family: "Zuume";
font-size: 136.488px;

font-weight: 900;

letter-spacing: 2.73px;

display:inline;

list-style-image:url({{'power-1.svg' |  asset_url }});


}

{% endstyle %} 

<div class="text-scroller color-{{ section.settings.color_scheme }} gradient">

<ul class="text-scroller-items">
    <li>NON GMO</li>
       <li>NON GMO</li>
          <li>NON GMO</li>
             <li>NON GMO</li>
                <li>NON GMO</li>
                   <li>NON GMO</li>
                      <li>NON GMO</li>
</ul>


</div>

{% schema %}
{
  "name": "Text Scroller",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Add text as a block"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Choose Color",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "name": "text",
      "type": "text",
      "settings": [
       {
          "type": "text",
          "id": "scroll_text",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
           "label": "Scroll text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Scroller",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}

{% endschema %}