.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 64rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

.newsletter_superhumn {
}

.newsletter_block {
  width: 100%;
}

.newsletter_block .field__label {
  top: 20px;
}

.newsletter_block .field__label,
.newsletter_block .field__input {
  color: #191919;
  font-family: "neue_haas";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 141.667% */
}

.newsletter_block .field__input {
  height: 6.7rem;
  background: #fff;
  color: #191919;
  border: 0;
}

.footer .newsletter_block .field__input {
  background: #252525;
}

.newsletter_block .newsletter-form__button.field__button {
  min-width: 210px;
  margin: 0;
  opacity: 1;
  /* color: #fff; */

  font-family: "Zuume";
  font-size: 28px;

  font-weight: 700;
  /* background: var(--color-voilet); */
}

.newsletter_block .field::before {
  box-shadow: none !important;
}

.newsletter_superhumn.newsletter-form {
  max-width: 64rem;
  margin: 0;
}

.newsletter_superhumn .newsletter-form__field-wrapper {
  max-width: 100%;
}
